body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to left,orange,orangered);
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to left,orange,orangered);
    display: flex;
    justify-content: center;
}


.quiz-container {
    flex-direction: column;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(164, 164, 164, 0.3);
    box-shadow: 0 4px 30px rgba(0,0,0,0.4);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

#question-area{
    font-family: monospace;
    font-size: 17px;
    margin-bottom: 10px;
}


#answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* width: 21%; */
}

.score{
    
    font-size: 17px;
    font-weight: 600;
    font-family: 'DM Sans';
    margin-top: 11px;
}

.answer-btn {
    margin-left: 12px;
    background-color: #ffa621;
    color: white;
    border: none;
    padding: 9px 6px;
    border-radius: 5px;
    cursor: pointer;
    /* width: 97px; */
}
.hidden{
    display: none;
}

.btn{
    background-color: rgb(20, 169, 20);
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: white;
    margin-top: 10px;
}

