body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}



#question-area{
    font-family: monospace;
    font-size: 17px;
}


.answer-btn{
    
    padding: 8px;
    background: green;
    border: 1px solid;
    border-radius: 4px;
    color: white;

}
.score{
    
    font-size: 17px;
    font-weight: 600;
    font-family: 'DM Sans';
    margin-top: 11px;
}

.btn {
    margin-bottom: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 9px 6px;
    border-radius: 5px;
    cursor: pointer;
    width: 97px;
}
.hidden{
    display: none;
}


